POSTGRES_DB=cchad_db
POSTGRES_USER=root
POSTGRES_PASSWORD=123456
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

MAILDEV_INCOMING_USER=cchad.atencion@gmail.com
MAILDEV_INCOMING_PASS=qtjjezvvuqprejad

JWT_SECRET='123456'
