DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=some-secure-password
DB_PORT=5432
DB_HOST=localhost
EMAIL_USER=cchad.atencion@gmail.com
EMAIL_PASSWORD=qtjjezvvuqprejad
EMAIL_FROM=cchad.atencion@gmail.com
EMAIL_PORT=465
EMAIL_HOST=smtp.gmail.com
SMTP_SECURE=false
JWT_SECRET=some-random-secret-string
CORS_ORIGIN=http://example.com
CSRF_PREVENTION=true
APP_PORT=3000
